<div class="d-none container mt-3 justify-content-between" data-signup-target="patient">
  <div class="my-4">
    <h2 class="text-center my-4">É só preencher aqui</h2>
  </div>
  <div class="sub-container flex-column">
    <div class="signup-patient col-12 col-md-5 mx-auto">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username,
                      label: 'Username',
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Escolha um username", class:"mb-3" }%>
          <%= f.input :name,
                      label: 'Primeiro nome',
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Primeiro nome", class:"mb-3" }%>
          <%= f.input :surname,
                      label: 'Sobrenome',
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Sobrenome", class:"mb-3" }%>
          <%= f.input :birthdate,
                      label: 'Data de nascimento',
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Data de nascimento", class:"mb-3" }%>
          <%= f.input :photo, as: :file %>
          <%= f.input :role, as: :hidden,
                      required: true,
                      autofocus: true,
                      input_html: { value: User.roles[:patient] } %>
          <%= f.input :description,
                      label: 'Descrição',
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Faça uma pequena descrição de você", class:"mb-3" }%>
          <%= f.input :email,
                      label: 'Email',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "Escreva seu email", class:"mb-3" }%>
          <%= f.input :password,
                      label: 'Senha',
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", placeholder: "Digite sua senha", class:"mb-3" } %>
          <%= f.input :password_confirmation,
                      label: 'Confirmar senha',
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "Confirme sua senha", class:"mb-3" } %>
        </div>

        <div class="form-actions mt-4 d-flex justify-content-evenly">
          <%= f.button :submit, "Sign up", class: "btn-signup" %>
          
        <% end %>
        </div>
    </div>
  </div>
</div>
