<% if current_user.patient? %>
    <h2 class="text-center m-5">Editar perfil</h2>

  <div class="edit-card">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Esperando confirmação para: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :description,
                    label: "Descrição",
                    required: false,
                    input_html: { placeholder: "Nova descrição" } %>
        <%= f.input :photo, as: :file %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Pode deixar em branco se não quiser alterar este campo",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirme a nova senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Precisamos da sua senha atual para confirmar suas alterações",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Atualizar",  class: 'submit-edit-profile' %>
      </div>
    <% end %>
    <div class="cancelar-conta d-flex align-item-center mt-4">
      <p class='me-3' >Deseja cancelar sua conta? </p> <i class="fa-regular fa-face-sad-tear"></i>
    </div>
    <div class="btn-cancelar">
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Confirma?" }, method: :delete, class: 'btn-cancelar-conta my-2' %>
      <%= link_to "Voltar", :back, style: 'color: #392d14;', class: 'my-3' %>
    </div>
  </div>
<% else %>
    <h2 class="text-center m-5">Editar perfil</h2>

  <div class="edit-card">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Esperando confirmação para: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :description,
                    label: "Descrição",
                    required: false,
                    input_html: { placeholder: "Nova descrição" } %>
        <%= f.input :specialty,
                    label: "Especialidade",
                    required: false,
                    input_html: { placeholder: "Nova especialidade" } %>
        <%= f.input :photo, as: :file %>
        <%= f.input :password,
                    label: "Nova senha",
                    hint: "Pode deixar em branco se não quiser alterar este campo",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirme a nova senha",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "Precisamos da sua senha atual para confirmar suas alterações",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Atualizar", class: 'submit-edit-profile' %>
      </div>
    <% end %>

    <div class="cancelar-conta d-flex align-item-center mt-4">
      <p class='me-3' >Deseja cancelar sua conta? </p> <i class="fa-regular fa-face-sad-tear"></i>
    </div>
    <div class="btn-cancelar">
      <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Confirma?" }, method: :delete, class: 'btn-cancelar-conta my-2' %>
      <%= link_to "Voltar", :back, style: 'color: #392d14;', class: 'my-3' %>
    </div>
  </div>
<% end %>
