<div class="filler"><p></p></div>
<div class="container">
  <div class="chat-container shadow col-7"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="chat-name" style="color: white;">
      <% if current_user == 'therapist' %>
        <h1><%= "#{@chatroom.patient.name} #{@chatroom.patient.surname}" %></h1>
      <% else %>
        <h1><%= "#{@chatroom.therapist.name} #{@chatroom.therapist.surname}" %></h1>
      <% end %>
    </div>

    <div class="messages px-3 mb-4" id="messages" onload="scrollDown()" data-chatroom-subscription-target="messages" style='height: 400px; width:800 px; overflow-y: scroll;'>
      <% @chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card msg-box mb-3">
      <div class="mt-3">
        <%= simple_form_for [@chatroom, @message],
          html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
        %>
          <%= f.input :content,
            label: false,
            placeholder: "Digite uma menssagem",
            wrapper_html: {class: "flex-grow-1"}
          %>
          <%= f.submit "Enviar", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  const scrollDown = () => {
    const messages = document.getElementById('messages');
    messages.scrollTop = messages.scrollHeight;
  }
</script>
