<div><p></p></div>
<div class="container chatroom shadow"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" id="messages" onload="scrollDown()" data-chatroom-subscription-target="messages" style='height: 400px; width:800 px; overflow-y: scroll;'>
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card mb-3">
    <div class="">
      <%= simple_form_for [@chatroom, @message],
        html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
      %>
        <%= f.input :content,
          label: false,
          placeholder: "Envie uma menssagem para ##{@chatroom.name}",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.submit "Enviar", class: "btn btn-primary mb-3" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  const scrollDown = () => {
    const messages = document.getElementById('messages');
    messages.scrollTop = messages.scrollHeight;
  }
</script>
