<div class="form-no-index d-flex justify-content-center align-items-center text-center">
  <%= simple_form_for :search, url: search_path, method: :get, class: 'd-flex align-items-center ' do |f| %>
                <div class="row g-2 ">
                  <div class="col-auto prof-choice">
                    <%= f.input :query, label: false, placeholder: 'Digite aqui...', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto filter-choice">
                    <%= f.input :category, label: false, collection: User.specialty.map(&:capitalize), prompt: 'Filtros', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto">
                    <%= f.button :submit, 'Pesquisar', class: 'search-index mb-2' %>
                  </div>
                </div>
              <% end %>
</div>

<% @users.each do |user| %>
    <div class="user-card-search d-flex my-2 p-3 mx-auto d-block">
          <div class="foto">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, transformation: [ {width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar" %>
            <% else %>
              <span class= "me-4 avatar avatar-circle" style="background-image: url('<%= user.picture_url ? user.picture_url : "https://cdn-icons-png.flaticon.com/512/3607/3607444.png" %>')"></span>
            <% end %>
          </div>
          <div class="infos d-flex flex-column justify-content-start">
            <div class="user-name">
              <h6><%= link_to user.name, user_path(user) %></h6>
            </div>

            <div class="d-inline-flex align-items-center">
              <i class="fa-solid fa-user-doctor me-2"></i>
              <p><%= user.specialty %></p>
            </div>

            <div class="flex my-1">
              <div class="flex align-items-center">
                <i class="fa-solid fa-quote-left"></i>
                <span><%= user.description %></span>
                <i class="fa-solid fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
<% end %>
