<% if current_user.patient? %>
  <div class="container-show-patient">
    <div class="patient-profile flex-column p-4 text-center">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class:"profile-avatar" %>
      <% else %>
        <div class="d-flex justify-content-center align-items-center" style="color: #463211;">
          <i class="fa-regular fa-user"></i>
        </div>
      <% end %>
      <div class="card-profile-patient mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <% if @user.role == 'patient' %>
            <p> Paciente </p>
          <% else %>
            <p> Terapeuta </p>
          <% end %>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile mx-auto d-block">
          <%# <%= link_to "Consultas", users_path, class: "btn btn-primary col-4 m-3" %>
          <div class="btns-show d-flex justify-content-evenly align-items-center">
            <%= link_to "Agendar consulta", new_user_appointment_path(@user.id), class: "btn-show m-3" %>
            <% if Chatroom.where(patient_id: current_user.id, therapist_id: @user.id).count > 0 %>
              <%= link_to "Conversar com #{@user.name}", chatroom_path(id: Chatroom.where(patient_id: current_user.id, therapist_id: @user.id).first.id), class: "btn-show m-3" %>
            <% else %>
              <%= link_to "Conversar com #{@user.name}", chatrooms_path(user_id: @user.id), data: { turbo_method: :post }, class: "btn-show m-3" %>
            <% end %>
          </div>
          <div class="avaliar text-center m-4">
            <% if Appointment.where(patient_id: current_user.id, therapist_id: @user.id).count > 0 %>
            <%= link_to "Avaliar",  new_user_review_path(user_id: @user.id, appointment_id: @appointment.id), class: "btn-show m-5" %>
            <% end %>
          </div>

          <%# REVIEWS AQUI %>
          <div class="reviews mx-auto d-block">
            <% if @reviews.blank? %>
              <% if @appointment.nil? %>
                <h3 class="my-3">Ainda sem avaliações!</h3>
              <% else %>
                <h5>Ainda não temos avaliação para este terapeuta, seja o primeiro!</h5>
                <%= link_to "Avaliar", new_user_review_path(user_id: @user.id, appointment_id: @appointment.id), class: "btn-show btn-primary col-3 m-3" %>
              <% end %>
            <% else %>
              <h3 class="mt-5">Avaliações</h3>
              <% @reviews.each do |review| %>
                <div class="review">
                  <%# adicionar o nome do paciente aqui %>
                  <p class="text-start"><strong> <%= review.patient.name %> </strong> </p>
                  <div>
                    <p style="text-align:left" >
                      <% review.rating.times do  %>
                       <i class="fa-solid fa-star" style="color: #F4E006;"></i>
                      <% end %>
                    </p>
                  </div>
                  <p class="text-start"> <%= review.comment %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


<% else %>
  <div class="container-show-therapist">
    <div class="patient-profile flex-column p-4">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class:"profile-avatar" %>
      <% else %>
        <i class="fa-light fa-user" style="color: #463211;"></i>
      <% end %>
      <div class="card-profile-therapist mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <% if @user.role == 'therapist' %>
            <p> Terapeuta </p>
          <% end %>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile row mx-auto d-block">
          <%= link_to "Voltar", patients_path, class: "btn btn-primary m-3 mx-auto d-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
