<% if @user.patient? %>
  <div class="container-show-patient">
    <div class="patient-profile flex-column p-4">
      <%= image_tag "drauzio.jpg", class: "avatar-dr mx-auto d-block m-3 col-6" %>
      <div class="card-profile-patient mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <p> <%= @user.role.capitalize %> </p>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile row mx-auto d-block">
          <%= link_to "Consultas", users_path, class: "btn btn-primary col-4 m-3" %>
          <%= link_to "Mensagens", chatrooms_path(@user.id), class: "btn btn-primary col-4 m-3" %>
          <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary m-3 mx-auto d-block" %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-show-therapist">
    <div class="patient-profile flex-column p-4">
      <%= image_tag "drauzio.jpg", class: "avatar-dr mx-auto d-block m-3 col-6" %>
      <div class="card-profile-therapist mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <p> <%= @user.role.capitalize %> </p>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile row mx-auto d-block">
          <%= link_to "Consultas", users_path, class: "btn btn-primary col-3 m-3" %>
          <%= link_to "Mensagens", chatrooms_path(@user_id), class: "btn btn-primary col-3 m-3" %>
          <%= link_to "Agendar consulta", new_user_appointment_path(@user.id), class: "btn btn-primary col-3 m-3" %>
          <%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary m-3 mx-auto d-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
