<div class="navbar navbar-expand-sm navbar-light navbar-lewagon p-3 mt-5 mx-5 d-flex">

  <div class="d-flex justify-content-start">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Screenshot 2023-09-05 at 17.57.02_thumbnail.png" %>
      <% end %>
    </div>
    <div class="d-flex align-items-center">
      <p class="text-white mb-0">GIRASSOL</p>
    </div>
  </div>
    <button type="button" class="btn btn-primary btn-lg guia my-5" style="text-align: center">
       <%= link_to "Encontre Especialistas", users_path, class: "nav-link" %>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mensages", chatrooms_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Criar sala", dedechat_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
          <% else %>
            <i class="fa-solid fa-user" style='color: #392d14;', class= "avatar", alt= "dropdown menu"></i>
          <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Meu perfil", profile_path, class: "dropdown-item" %>
              <%= link_to "Minhas consultas", appointments_path, class: "dropdown-item" %>
                <% if current_user && current_user.role == 'therapist' %>
                  <%= link_to "Encontre pacientes", patients_path, class: "dropdown-item" %>
                <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="homepage-buttons d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-primary mx-5 login my-5">
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            </button>
            <i class="fa-solid fa-bars fa-xl"></i>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
