
<body>
  <div class="banner">
    <div class="slogan text-white text-center">
      <p>UMA REDE DE APOIO AO SEU ALCANCE</p>
    </div>
    <div class="cards-homepage d-flex justify-content-around">
      <div class="card" style="width: 900px; height: 160px;">
        <div class="card-form mb-2">
          AGENDE SUA CONSULTA AGORA
          <div class="button-form d-flex">

              <%= simple_form_for :search, url: users_path, method: :get, class: 'd-flex align-items-center ' do |f| %>
                <div class="row g-2 ">
                  <div class="col-auto prof-choice">
                    <%= f.input :query, label: false, placeholder: 'Psicólogo ou psiquiatra?', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto filter-choice">
                    <%= f.input :query, label: false, placeholder: 'Filtros', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
                  </div>

                  <div class="col-auto">
                    <%= f.button :submit, 'Pesquisar', class: 'btn btn-primary search-btn' %>
                  </div>
                </div>
              <% end %>

          </div>
        </div>
      </div>
      <div class="button-homepage text-white">
        <button type="button" class="btn btn-lg"><%= link_to "ENCONTRE ESPECIALISTAS", users_path, class: "text-decoration-none" %></button>
        <button type="button" class="btn btn-lg button-appointment" style="background-color: rgba(217, 217, 217, 0.21)">MARQUE SUA CONSULTA</button>
        <button type="button" class="btn btn-lg button-review" style="background-color: rgba(217, 217, 217, 0.21)">AVALIE SUA CONSULTA</button>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card-grid">
      <div>
        <div class="card text-success">
          <div class="card-body articles">
            Dislexia, TDAH e TDA: quais são as diferenças?
          </div>
        </div>
          <div class="card text-success">
          <div class="card-body articles">
            Como recuperar sua autoestima?
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Entenda como lidar melhor com o autismo
          </div>
        </div>
      </div>
      <div>
        <div class="card text-success">
          <div class="card-body articles">
            O stress ocupacional como factor principal de risco psicossocial
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Reabilitação neuropsicológica da memória
          </div>
        </div>
        <div class="card text-success">
          <div class="card-body articles">
            Políticas públicas para juventude e sua relação com a psicologia
          </div>
        </div>
      </div>
      <div class="card mission">
          Nossa Missão
      </div>
    </div>
  </div>
</body>
<%# 400 300 150 %>
