<% if current_user.patient? %>
  <div class="container-show-patient">
    <div class="patient-profile flex-column">
      <div class="photo-profile-patient text-center my-4">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, transformation: [
  {width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar" %>
        <% else %>
          <i class="fa-solid fa-user" style='color: #392d14;'></i>
        <% end %>
      </div>
      <div class="card-profile-patient mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <% if @user.role == 'patient' %>
            <p> Paciente </p>
          <% end %>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile d-flex justify-content-evenly my-4">
          <div class="consulta-perfil">
            <%= link_to appointments_path, class: "btn-profile" do %>
              <i class='fa-regular fa-calendar' style='color: #392d14;'></i>
            <% end %>
          </div>

          <%# <div class="chat-perfil">
            <%= link_to chatroom_path(@user.id), class: "btn-profile" do %>
            <%#   <i class='fa-regular fa-comments' style='color: #392d14;'></i>
            <% end %>
          <%# </div> %>

          <div class="sair-perfil">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-profile" do %>
              <i class="fa-solid fa-arrow-right-from-bracket" style="color: #392d14;"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
<% else %>
  <div class="container-show-therapist">
    <div class="patient-profile flex-column p-4">
      <div class="photo-profile-patient text-center">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, transformation: [
  {width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar" %>
        <% else %>
          <i class="fa-solid fa-user" style='color: #392d14;'></i>
        <% end %>
      </div>
      <div class="card-profile-therapist mx-auto d-block">
        <% if @user.id == current_user.id %>
          <%= link_to "Editar perfil", edit_user_registration_path %>
        <% end %>
        <h1 class="text-center my-3"><%= @user.name.capitalize %> <%= @user.surname.capitalize %> </h1>
        <div class="birthdate text-center my-3">
          <% if @user.role == 'therapist' %>
            <p> Terapeuta </p>
          <% end %>
          <p> Data de Nascimento: <%= @user.birthdate %> </p>
        </div>
        <div class="birthdate text-center my-3">
          <p> Descrição: <%= @user.description %> </p>
        </div>
        <div class="links-profile d-flex justify-content-evenly my-4">
          <div class="sair-perfil">
            <%= link_to appointments_path, class: "btn-profile" do %>
              <i class='fa-regular fa-calendar' style='color: #392d14;'></i>
            <% end %>
          </div>

          <%# <%= link_to "Mensagens", chatrooms_path(@user.id), class: "btn btn-primary col-4 m-3" %>

          <div class="sair-perfil">
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-profile" do %>
              <i class="fa-solid fa-arrow-right-from-bracket" style="color: #392d14;"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
