<main class="container-search" role="main" data-id="main-content">
  <h3 class="text-center my-4">Resultados da Pesquisa:</h3>
  <div class="container-cards-search">
    <% if @users.any? %>
      <% @users.each do |user| %>
        <div class="user-card-search d-flex my-2 p-3 mx-auto d-block">
          <div class="foto">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, class:"profile-avatar" %>
            <% else %>
              <span class=" me-4 avatar avatar-circle" style="background-image: url('<%= user.picture_url ? user.picture_url : "https://cdn-icons-png.flaticon.com/512/3607/3607444.png" %>')"></span>
            <% end %>
          </div>
          <div class="infos d-flex flex-column justify-content-start">
            <div class="user-name">
              <h6><%= link_to user.name, user_path(user) %></h6>
            </div>

            <div class="d-inline-flex align-items-center">
              <i class="fa-solid fa-user-doctor me-2"></i>
              <p><%= user.specialty %></p>
            </div>

            <div class="flex my-1">
              <div class="flex align-items-center">
                <i class="fa-solid fa-quote-left"></i>
                <span><%= user.description %></span>
                <i class="fa-solid fa-quote-right"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>

    <% else %>
      <p>Não encontramos resultado para sua pesquisa.</p>
    <% end %>
  </div>
</main>
