<% if @room %>
  <div id="videos" class="container">
    <div class="row">
      <div class="col-8">
        <div id="subscriber" style="height: 600px;">
          <section class="noSubscriber">
            <div>
              <span class="title">Waiting for other people to arrive</span>
              <div class="copyLink">
                <span class="originalUrl">
                  <%= request.original_url %>
                </span>
                <button id="buttonCopy" class="orangeBtn">
                Copy
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-4 mt-5">
        <div id="publisher" style="height: 300px;"></div>
      </div>
    </div>
  </div>
  <%= link_to root_path do %>
    <button class="orangeBtn leaveRoom">
      Leave Room
    </button>
  <% end %>
  <%#= javascript_tag do %>
    <%#= render(:partial => 'video', :handlers => [:erb], :formats => [:js]) %>
  <%#= end %>
  <div data-controller="opentok" data-opentok-api-key-value="<%= ENV['API_KEY'] %>" data-opentok-session-id-value="<%= @room.session_token %>"
  data-opentok-token-value="<%= @room.generated_token %>"></div>
<% else %>
   <div class="noRoomContainer">
    <section class="noRoom">
      <h1>Lost in the clouds?</h1>
      <p>
        The room <strong>⁨/<%= params[:name] %></strong>⁩ is nowhere to be found. Are you sure you’ve entered the correct address?
      </p>
      <%= link_to root_path do %>
        <button class="greenBtn">
          Back to homepage
        </button>
      <% end %>
    </section>
   </div>

<% end %>
