<div class="appointments-body">
 <div id="appointments-container" class="d-flex flex-column p-4">
    <div class="order-subtitle">
      <h3 class="text-center mt-4">Consultas agendadas</h3>
    </div>
    <div id="card-general-appointments" class="row justify-content-around align-items-center p-4">
      <% unless @appointments.empty? %>
      <% @appointments.each do |appointment| %>
        <div class="card-appointment align-items-center col-6 col-md-4 col-lg-3 m-4">
          <% if current_user.patient? %>
            <p class="text-center"><strong>Sua consulta será com: </strong><%= appointment.therapist.name.capitalize %></p>
              <% if appointment.therapist.photo.attached? %>
                <%= cl_image_tag appointment.therapist.photo.key, transformation: [{width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar mx-auto d-block" %>
              <% else %>
                <div class="text-center">
                  <i class="fa-solid fa-user" style='color: #392d14;'></i>
                </div>
              <% end %>
          <% else %>
            <p class="text-center"><strong>Sua consulta será com: </strong><%= appointment.patient.name.capitalize %></p>
            <% if appointment.patient.photo.attached? %>
              <%= cl_image_tag appointment.patient.photo.key, transformation: [{width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar mx-auto d-block" %>
            <% else %>
              <div class="text-center">
                <i class="fa-solid fa-user" style='color: #392d14;'></i>
              </div>
            <% end %>
          <% end %>
          <p class="text-center pt-3"><strong>Data e Hora: </strong><%= appointment.date_time %></p>
          <%= link_to "Ver detalhes", appointment_path(appointment), class: "del-order text-center btn btn-danger mx-auto d-block" %>
        </div>
        <% end %>
      <% else %>
        <div class="no-appointments row justify-content-center">
          <p class="text-center col-12 m-4">Você ainda não tem consultas agendadas</p>
          <i class="fa-regular fa-face-frown-open fa-2xl text-center" style="color: #717171;"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
