<div class="appointments-body">
 <div id="appointments-container" class="d-flex flex-column p-4">
    <div class="order-subtitle">
      <h3 class="text-center mt-4">Consultas agendadas</h3>
    </div>
    <div id="card-appointments" class="row justify-content-around align-items-center p-4">
      <% if @appointment.present? %>
        <div id="card-appointment" class="align-items-center col-6 col-md-4 col-lg-3 m-4">
          <% if current_user.patient? %>
            <p class=""><strong>Sua consulta será com: </strong><%= @appointment.therapist.name.capitalize %></p>
            <% if @appointment.therapist.photo.attached? %>
              <%= cl_image_tag @appointment.therapist.photo.key, transformation: [{width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar" %>
            <% else %>
              <span class=" mb-1 avatar avatar-circle" style="background-image: url('<%= user.picture_url ? user.picture_url : "https://cdn-icons-png.flaticon.com/512/3607/3607444.png" %>')"></span>
            <% end %>
          <% else %>
            <p class=""><strong>Sua consulta será com: </strong><%= @appointment.patient.name.capitalize %></p>
            <img src="<%= @appointment.patient.picture_url %>" alt="imagem do patient" class="avatar">
          <% end %>
          <p class="pt-3"><strong>Data e Hora: </strong><%= @appointment.start_time, @appointment.end_time %></p>
          <%= link_to "Ver detalhes", appointment_path(@appointment), class: "del-order text-center btn btn-danger mx-auto d-block" %>
        </div>
      <% else %>
        <div class="no-appointments row justify-content-center">
          <p class="text-center col-12 m-4">Você ainda não tem consultas agendadas.</p>
          <i class="fa-regular fa-face-frown-open fa-2xl text-center" style="color: #717171;"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
