<div class="appointments-body">
  <div id="appointments-container" class="container d-flex flex-column p-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card-appointment text-center">
          <p class=""><strong>Sua consulta será com: </strong><%= @appointment.therapist.name.capitalize %></p>
          <img src="<%= @appointment.therapist.picture_url %>" alt="imagem do terapeuta" class="avatar">
          <p class="pt-3"><strong>Data e Hora: </strong><%= @appointment.date_time %></p>
          <%= link_to "Cancelar", appointment_path(@appointment), data: { turbo_method: :delete, turbo_confirm: "Quer mesmo cancelar esta consulta?" }, class: "del-order text-center btn btn-danger mx-auto d-block"
          %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wherebyContainer">
          <div class="whereby">
            <h1>Chat de vídeot</h1>
            <%= form_for @room do |f| %>
              <%= f.text_field :name, required: true %>
              <%= f.button "Criar sala", class: 'greenBtn' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
