<div class="appointments-body">
  <div id="appointments-container" class="container d-flex flex-column p-4">
    <div class="">
      <div class="">
        <div class="card-appointment mt-4 p-3 mx-auto d-block text-center">
          <% if current_user.patient? %>
            <p class=""><strong>Sua consulta será com: </strong><%= @appointment.therapist.name.capitalize %></p>
            <% if @appointment.therapist.photo.attached? %>
              <%= cl_image_tag @appointment.therapist.photo.key, transformation: [{width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar mx-auto d-block" %>
            <% else %>
              <div class="text-center">
                <i class="fa-solid fa-user my-3" style='color: #392d14;'></i>
              </div>
            <% end %>
            <div class="info-consulta m-4">
              <p class="pt-3"><strong>Data: </strong><%= @appointment.start_time.strftime('%d/%m/%Y') %></p>
              <p class="pt-3"><strong>Hora: </strong><%= @appointment.end_time.strftime('%H:%M') %></p>
            </div>
            <% if Chatroom.where(patient_id: current_user.id, therapist_id: @appointment.therapist.id).count > 0 %>
              <%= link_to "Conversar com #{@appointment.therapist.name}", chatroom_path(id: Chatroom.where(patient_id: current_user.id, therapist_id: @appointment.therapist.id).first.id), class: "falar-com m-3" %>
            <% else %>
              <%= link_to "Conversar com #{@appointment.therapist.name}", chatrooms_path(user_id: @appointment.therapist.id), data: { turbo_method: :post }, class: "falar-com m-5" %>
            <% end %>
            <% if Chatroom.where(patient_id: current_user.id, therapist_id: @appointment.therapist.id).count > 0 %>
              <%= link_to "Conversar com #{@appointment.therapist.name}", chatroom_path(id: Chatroom.where(patient_id: current_user.id, therapist_id: @appointment.therapist.id).first.id), class: "falar-com m-3" %>
            <% end %>
          <% else %>
            <p class=""><strong>Sua consulta será com: </strong><%= @appointment.patient.name.capitalize %></p>
            <% if @appointment.patient.photo.attached? %>
              <%= cl_image_tag @appointment.patient.photo.key, transformation: [{width: 80, height: 80, radius: "max", gravity: "auto", crop: "fill", fetch_format: "auto" }], class:"profile-avatar mx-auto d-block" %>
            <% else %>
              <div class="text-center">
                <i class="fa-solid fa-user my-3" style='color: #392d14;'></i>
              </div>
            <% end %>
            <div class="info-consulta m-4">
              <p class="pt-3"><strong>Data: </strong><%= @appointment.start_time.strftime('%d/%m/%Y') %></p>
              <p class="pt-3"><strong>Hora: </strong><%= @appointment.end_time.strftime('%H:%M') %></p>
            </div>
            <% chatroom = Chatroom.where(patient_id: @appointment.patient.id, therapist_id: current_user.id) %>
            <% if chatroom.count > 0 %>
              <%= link_to "Conversar com #{@appointment.patient.name}", chatroom_path(id: chatroom.first.id), class: "falar-com m-3" %>
            <% end %>
          <% end %>

          <%= link_to "Cancelar consulta", appointment_path(@appointment), data: { turbo_method: :delete, turbo_confirm: "Quer mesmo cancelar esta consulta?" }, class: "del-order text-center mx-auto d-block" %>
        </div>
      </div>
      <% if current_user.role == 'therapist' %>
        <div class="dedechat">
          <div class="wherebyContainer text-center">
            <div class="mx-3">
              <h3>Chat de vídeo</h3>
            </div>
            <div class="mx-3">
              <%= form_for @room do |f| %>
                <%= f.text_field :name, required: true %>
                <%= f.button "Criar sala", class: 'greenBtn dedebutton' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
